# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.godot

# Mono-specific ignores
.mono/
mono_crash.*.*.json

# Project specific
addons/external_code
.directory
.vscode/
*.ini
env
py_env/
